.btn {
  background: #eee;
  border: 1px solid #eee;
  font-size: 1.6rem;
  padding: .5em 1em;
  margin: 0;
  border-radius: .2em;
  cursor: pointer;
  transition: all .2s ease;
  text-decoration: none;
  display: inline-block;
  color: $colorFg;

  &::-moz-focus-inner {
    border: 0;
  }

  &--principal {
    border-color: transparent;
    background: $colorMain;
    color: $colorBg;

    &:hover, &:focus {
      background: lighten($colorMain, 5%);
      box-shadow: 0 .3em 1em rgba(0,0,0,.2);
    }
  }

  &--wide {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  &--flat {
    border-color: transparent;
    background: Transparent;
    color: $colorFg;

    &:hover, &:focus {
      background: #eee;
      // box-shadow: 0 .3em 1em rgba(0,0,0,.2);
    }
  }

  &--fab {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background: $colorMain;
    color: $colorBg;
    border-radius: 5em;
    border:0;
    text-shadow: 0 1px solid rgba(0,0,0,.9);
    text-align: center;
    width: 3em;
    height: 3em;
    padding: 0;
    z-index: 1000;

    &:hover, &:focus {
      background: lighten($colorMain, 5%);
      box-shadow: 0 .4em .5em rgba(0,0,0,.2);
    }

    &.dice {
      width: 4em;
      height: 4em;
      text-align: center;
      line-height: 4em;
      font-weight: 700;
      background-color: transparent;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      color: #fff;
      text-shadow: 0 1px 0 rgba(0,0,0,.4);
      transition: all .3s ease;

      &.d4 {
        background-image: url(https://www.google.com/logos/fnbx/polyhedral_dice/d4_hires.png);
        right: 21em;
      }

      &.d6 {
        background-image: url(https://www.google.com/logos/fnbx/polyhedral_dice/d6_hires.png);
        right: 17em;
      }

      &.d8 {
        background-image: url(https://www.google.com/logos/fnbx/polyhedral_dice/d8_hires.png);
        right: 13em;
      }

      &.d10 {
        background-image: url(https://www.google.com/logos/fnbx/polyhedral_dice/d10_hires.png);
        right: 9em;
      }

      &.d12 {
        background-image: url(https://www.google.com/logos/fnbx/polyhedral_dice/d12_hires.png);
        right: 5em;
      }

      &.d20 {
        background-image: url(https://www.google.com/logos/fnbx/polyhedral_dice/d20_hires.png);
      }

      &:hover {
        box-shadow: none;
        transform: scale(1.2)
      }
    }
  }
}


@media (max-width: 600px) {
  .btn {
    &--fab {
      &.dice {
        display: none;
        &.d20 {
          display: block;
        }
      }
    }
  }
}