.fab {
  position: fixed;
  right: 1em;
  bottom: 1em;
  border-radius: 2em;
  background: $colorMain;
  color: $colorBg;
  border-color: transparent;
  box-shadow: 0 .3em .5em rgba(0,0,0,.2);
  transition: all .2s ease;
  
  &:hover {
    bottom: 1.2em;
    box-shadow: 0 .3em .7em rgba(0,0,0,.4);
  }
}