.input {
  background: $colorBg;
  border: 1px solid #eee;
  font-size: 1.6rem;
  padding: .5em;
  margin: 0;
  border-radius: .2em;
  transition: all .2s ease;
  box-sizing: border-box;
  outline: 0;
  font-family: $fontBase;
  box-shadow: 0 .1em .2em rgba(0,0,0,.2);

  &:focus {
    border: 1px solid rgba(0,0,0,.3);
    border-top: 1px solid rgba(0,0,0,.4);
  }

  &--wide {
    width: 100%;
  }
  &--mini {
    width: 3em;
    font-size: 1.3em;
    background: #fff;
    padding: 0.3rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.2);
    min-height: 2em;
    border-radius: .2rem;
  }
  &--top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &--middle {
    border-radius: 0;
  }
  &--bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &.title {
    font-size: 2.4rem;
    font-family: $fontHeadline;
  }
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0,0,0,.3);
    opacity: 1; /* Firefox */
  }
  
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0,0,0,.3);
  }
  
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0,0,0,.3);
  }

}
.pj-input {
  min-height: 1.5em;
}

textarea{  
  overflow:hidden;
}
*[contenteditable] {
  background: #fff;
  padding: 0.3rem;
  border-top: 1px solid rgba(0,0,0,.2);
  min-height: 2em;
  border-radius: .2rem;
  outline: 0;

  &:focus {
    border: 1px solid rgba(0,0,0,.3);
    border-top: 1px solid rgba(0,0,0,.7);
  }
}