.stress {
  height: 1rem;
  background: #000;
  width: 100%;
  margin: .3rem 0;

  &.stress--10 {
    background: #27ae60;
    width: 100%;
  }
  &.stress--9 {
    background: #2ecc71;
    width: 90%;
  }
  &.stress--8 {
    background: #f1c40f;
    width: 80%;
  }
  &.stress--7 {
    background: #f1c40f;
    width: 70%;
  }
  &.stress--6 {
    background: #e67e22;
    width: 60%;
  }
  &.stress--5 {
    background: #f39c12;
    width: 50%;
  }
  &.stress--4 {
    background: #d35400;
    width: 40%;
  }
  &.stress--3 {
    background: #e74c3c;
    width: 30%;
  }
  &.stress--2 {
    background: #c0392b;
    width: 20%;
  }
  &.stress--1 {
    background: #c0392b;
    width: 10%;
  }
  &.stress--0 {
    background: #2c3e50;
    width: 5%;
  }
}