h2 {
  margin: 0;
  padding: 0;
  line-height: 1.3em;
  font-weight: 700;
clear: both;
}
.master {
  float: left;
  opacity: .6;
  padding: 0.2em .7em;
  margin-top: -2.2em;
}
h3 {
  margin: 0 0 1em;
  padding: 0;
  line-height: 1.3em;
}
.stat {
  font-size: 2em;
}
.content-hidden {
  display: none;
}
.pj-sheet {
  max-height: 80vh;
  overflow: auto;
}
.pj-sheet:hover {
  .content-hidden {
    display: block;
  }
}